# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env

# Compiled binaries
btree/btree
err/snake
hnt/pHNT

# Logs
*.log

# OS
.DS_Store

# Junk
webapp/=*
webapp/gunicorn.ctl

# Runtime data
webapp/data/sessions.json
