{% extends "base.html" %}
{% block title %}Strait of Hormuz{% endblock %}

{% block extra_styles %}
<style>
  main { padding: 0; overflow: hidden; }
  #map-frame {
    width: 100%;
    height: calc(100vh - 39px);
    border: none;
    display: block;
  }
</style>
{% endblock %}

{% block content %}
<iframe
  id="map-frame"
  src="https://www.marinetraffic.com/en/ais/embed/zoom:8/centery:26.3/centerx:56.5/maptype:4/shownames:true/mmsi:0/shipid:0/fleet:/fleet_id:/vtypes:/showmenu:/remember:false"
  allowfullscreen
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
{% endblock %}
